In [89]:
import pandas as pd
import numpy as np
import requests
import os
import scraper as scpr
from bs4 import BeautifulSoup
#from scraper import CompanyDescriptionScraper
from importlib import reload

In [67]:
url1 = "https://finance.yahoo.com/quote/INTC/profile"
url2 = "https://finance.yahoo.com/quote/NJR/profile?p=NJR"
r1 = requests.get(url1)
r2 = requests.get(url2)

soup1 = BeautifulSoup(r1.text, "html.parser")
soup2 = BeautifulSoup(r2.text, "html.parser")

In [136]:
a = soup1.find('tbody')
a1 = a.find_all('tr')[:5]
a1

[<tr class="C(black) BdB Bdc($finLightGray) H(36px)" data-reactid="51"><td class="Ta(start)" data-reactid="52">Mr. Andy D. Bryant</td><td class="Ta(start) W(45%)" data-reactid="53">Exec. Chairman</td><td class="Ta(end)" data-reactid="54">1.95M</td><td class="Ta(end)" data-reactid="55">6.72M</td><td class="Ta(end)" data-reactid="56">67</td></tr>,
 <tr class="C(black) BdB Bdc($finLightGray) H(36px)" data-reactid="57"><td class="Ta(start)" data-reactid="58">Mr. Brian M. Krzanich</td><td class="Ta(start) W(45%)" data-reactid="59">CEO &amp; Director</td><td class="Ta(end)" data-reactid="60">7.37M</td><td class="Ta(end)" data-reactid="61">2.47M</td><td class="Ta(end)" data-reactid="62">57</td></tr>,
 <tr class="C(black) BdB Bdc($finLightGray) H(36px)" data-reactid="63"><td class="Ta(start)" data-reactid="64">Mr. Robert H. Swan</td><td class="Ta(start) W(45%)" data-reactid="65">Exec. VP &amp; CFO</td><td class="Ta(end)" data-reactid="66">3.27M</td><td class="Ta(end)" data-reactid="67"><span data-reactid="68">N/A</span></td><td class="Ta(end)" data-reactid="69">57</td></tr>,
 <tr class="C(black) BdB Bdc($finLightGray) H(36px)" data-reactid="70"><td class="Ta(start)" data-reactid="71">Mr. Stacy J. Smith</td><td class="Ta(start) W(45%)" data-reactid="72">Group Pres of Manufacturing, Operations and Sales</td><td class="Ta(end)" data-reactid="73">3.18M</td><td class="Ta(end)" data-reactid="74">238.9k</td><td class="Ta(end)" data-reactid="75">54</td></tr>,
 <tr class="C(black) BdB Bdc($finLightGray) H(36px)" data-reactid="76"><td class="Ta(start)" data-reactid="77">Mr. Gregory R. Pearson</td><td class="Ta(start) W(45%)" data-reactid="78">Sr. VP</td><td class="Ta(end)" data-reactid="79">1.32M</td><td class="Ta(end)" data-reactid="80">3.42M</td><td class="Ta(end)" data-reactid="81">56</td></tr>]

In [139]:
for tr in a1:
    tds = tr.find_all('td')
    for td in tds:
        print(td.text)

Mr. Andy D. Bryant
Exec. Chairman
1.95M
6.72M
67
Mr. Brian M. Krzanich
CEO & Director
7.37M
2.47M
57
Mr. Robert H. Swan
Exec. VP & CFO
3.27M
N/A
57
Mr. Stacy J. Smith
Group Pres of Manufacturing, Operations and Sales
3.18M
238.9k
54
Mr. Gregory R. Pearson
Sr. VP
1.32M
3.42M
56

In [140]:
b = soup2.find('tbody')
b1 = b.find_all('tr')[:5]

for tr in b1:
    tds = tr.find_all('td')
    for td in tds:
        print(td.text)

Mr. Laurence M. Downes
Chairman, CEO & Pres
2.07M
N/A
60
Mr. Patrick J. Migliaccio
Sr. VP, CFO & Principal Accounting Officer
471.57k
N/A
43
Mr. Stephen D. Westhoven
Exec. VP & COO
720.97k
N/A
49
Mr. Glenn C. Lockwood
Exec. VP
671.66k
N/A
56
Ms. Kathleen T. Ellis
Exec. VP of Policy & Strategic Devel.
631.27k
N/A
64

In [147]:
reload(scpr)

In [148]:
scraper = scpr.CompanyDescriptionScraper()
tickers = ['INTC', 'JNJ']

scraper.scrape(*tickers)

Scraping information on INTC...
Scraping information on JNJ...

In [149]:
scraper.data

,Name,url,Sector,Industry,Employees,Description,Executive1,Executive2,Executive3,Executive4,Executive5
INTC,Intel Corporation,http://www.intel.com,Technology,Semiconductor - Broad Line,"106,000","Intel Corporation designs, manufactures, and s...","{'name': 'Mr. Andy D. Bryant', 'title': 'Exec....","{'name': 'Mr. Brian M. Krzanich', 'title': 'CE...","{'name': 'Mr. Robert H. Swan', 'title': 'Exec....","{'name': 'Mr. Stacy J. Smith', 'title': 'Group...","{'name': 'Mr. Gregory R. Pearson', 'title': 'S..."
JNJ,Johnson & Johnson,http://www.jnj.com,Healthcare,Drug Manufacturers - Major,"126,400","Johnson & Johnson, together with its subsidiar...","{'name': 'Mr. Alex Gorsky', 'title': 'Chairma...","{'name': 'Mr. Dominic J. Caruso', 'title': 'Ex...","{'name': 'Dr. Paulus A. Stoffels Ph.D., M.D.',...","{'name': 'Mr. Joaquin Duato', 'title': 'Exec....","{'name': 'Ms. Sandra E. Peterson', 'title': 'G..."